.idea
tests/*
__pycache__
node_modules
disks/C/*
disks/D/*
!disks/C/.keep
!disks/D/.keep
archive
done
done2
AndrOS.zip
confreader.py
confwriter.py
dev_v.py
get-pip.py
Samsung_wordmark.svg
setup.py
test.py
test1.py
test.txt
test2.txt
text.txt
Чернiй_Андрiй_ФМГ17_AndrOS_new.rar
Чернiй_Андрiй_ФМГ17_AndrOS_new.zip
AndrOSDoc_4.docx
AndrOSDoc_3.docx
Test
tests
1.txt
AndrOSDemo.py